body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #6EB6B0;
}

/* Center Container */
.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main Card Layout */
.forgot-card {
    width: 450px; /* smaller single card */
    min-height: auto;
    background: white;
    border-radius: 20px;
    display: block; /* flex hata diya */
    overflow: hidden;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.25);
    animation: fadeIn 0.6s ease-in-out;
    padding: 50px; /* andar spacing */
}


/* Left Side Form Box */
.forgot-box {
    width: 100%;
    padding: 0; /* double padding avoid */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Title */
.brand-title {
    text-align: center;
    width: 100%;
    font-size: 34px;
    font-weight: 700;
    color: #6EB6B0;
    margin-bottom: 35px;
}

/* Input Groups */
.input-group {
    text-align: left;
    margin-bottom: 18px;
}

    .input-group label {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        margin-bottom: 6px;
        display: block;
    }

    .input-group input {
        width: 100%;
        padding: 13px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 14px;
        outline: none;
        transition: 0.3s;
    }

        .input-group input:focus {
            border-color: #007bff;
            box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.4);
        }

/* Buttons (Same Style for Both) */
.btn-submit {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 15px;
    background: #6EB6B0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

    .btn-submit:hover {
        background: #6EB6B0;
    }

/* Error Text */
.error {
    color: #e74c3c;
    font-size: 13px;
    margin-top: 6px;
    display: block;
}


/* Smooth Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
