@page
@model Pharma_Pulse.Pages.LoginModel

@{
    ViewData["Title"] = "Login";
    ViewData["HideFooter"] = true;
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-wrapper">
    <div class="login-card">

        <!-- LEFT FORM -->
        <div class="login-left">

            <div class="login-logo">
                <img src="~/images/pulse.png" alt="Pharma Pulse Logo">
            </div>

            <form method="post">

                <!-- Username -->
                <div class="input-group">
                    <label>Username</label>
                    <input asp-for="Username" placeholder="Enter your Username" />
                    <span asp-validation-for="Username" class="error-text"></span>
                </div>

                <!-- Password -->
                <div class="input-group">
                    <label>Password</label>
                    <input asp-for="Password" type="password" placeholder="Enter your password" />
                    <span asp-validation-for="Password" class="error-text"></span>
                </div>

                <!-- Global Error -->
                <div asp-validation-summary="All" class="error-text"></div>

                <!-- Button -->
                <button type="submit" class="btn-login">
                    Login
                </button>

                <a asp-page="/ForgotPassword" class="forgot-link">
                    Forgot Password?
                </a>

                <a asp-page="/SuperAdmin/SuperAdminLogin" class="forgot-link">
                    Super Admin?
                </a>

                <div class="login-extra">
                    <p class="terms-text">
                        By Signing In, I agree to
                        <a asp-page="Terms">Terms of Service</a> and
                        <a asp-page="/Privacy">Privacy Policy</a>
                    </p>
                </div>

            </form>

        </div>

        <!-- RIGHT IMAGE -->
        <div class="login-right"></div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}