@page
@model LoginPage.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/login.css" />

<div class="login-wrapper">
    <div class="login-card">

        <!-- LEFT FORM -->
        <div class="login-left">

            <h1 class="brand-title">Pharma Pulse</h1>

            <form onsubmit="demoLogin(event)" novalidate>

                <!-- Username -->
                <div class="input-group">
                    <label>Username</label>
                    <input id="username" placeholder="Enter your Username" />

                    <!-- Error Message -->
                    <span id="userError" class="error-text"></span>
                </div>

                <!-- Password -->
                <div class="input-group">
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Enter your password" />

                    <!-- Error Message -->
                    <span id="passError" class="error-text"></span>
                </div>

                <!-- Button -->
                <button type="submit" class="btn-login">
                    Login
                </button>

                <a asp-page="/ForgotPassword" class="forgot-link">
                    Forgot Password?
                </a>

            </form>

        </div>

        <!-- RIGHT IMAGE -->
        <div class="login-right">
            <img src="/images/BG.JPEG" alt="Login Illustration" />
        </div>

    </div>
</div>

<script>
    function demoLogin(event) {
        event.preventDefault();

        // Values
        let username = document.getElementById("username").value;
        let password = document.getElementById("password").value;

        // Error spans
        let userError = document.getElementById("userError");
        let passError = document.getElementById("passError");

        // Clear old errors
        userError.innerText = "";
        passError.innerText = "";

        // Validation
        if (username === "" ) {
            userError.innerText = "Username is required!";
            return;
        }

        if (password === "") {
            passError.innerText = "Password is required!";
            return;
        }

        // Wrong Credentials
        if (username !== "user" || password !== "user") {
            userError.innerText = "Invalid Username!";
            passError.innerText = "Invalid Password!";
            return;
        }

        // Success Redirect
        window.location.href = "/Dashboard";
    }
</script>
