@page
@model Pharma_Pulse.Pages.LowStockAlertsModel

@{
    ViewData["Title"] = "LowStockAlerts";
}

<link rel="stylesheet" href="~/css/Lowstockalert.css" />

<div class="dashboard-container">

    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <h2 class="sidebar-title">Pharma Pulse</h2>

        <ul class="sidebar-menu">

            <li>
                <a asp-page="/Dashboard" class="menu-link">
                    🏠 Dashboard
                </a>
            </li>

            <li>
                <a asp-page="/SalesSummary" class="menu-link">
                    📊 Sales Summary
                </a>
            </li>

            <li>
                <a asp-page="/QuickBilling" class="menu-link">
                    💵 Quick Billing
                </a>
            </li>

            <li>
                <a asp-page="/TotalMedicine" class="menu-link">
                    💊 Medicines
                </a>
            </li>

            <li>
                <a asp-page="/LowStockAlerts" class="menu-link active">
                    ⚠ Low Stock Alerts
                </a>
            </li>

            <li>
                <a asp-page="/ExpiryAlerts" class="menu-link">
                    ⏳ Expiry Alerts
                </a>
            </li>

        </ul>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">

        <div class="content-card">

            <div class="card-header">
                <h2>Low Stock Medicines</h2>
            </div>
            <table class="sales-table">
                <thead>
                    <tr>
                        <th>Medicine Name</th>
                        <th>Category</th>
                        <th>Stock</th>
                        <th>Expiry Date</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var med in Model.LowStockMedicines)
                    {
                        <tr class="fade-row">
                            <td>@med.MedicineName</td>
                            <td>@med.Category</td>
                            <td class="stock-low">@med.Stock</td>
                            <td>@med.ExpiryDate.ToShortDateString()</td>
                            <td>
                                <span class="badge low-badge">
                                    ⚠ Low Stock
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


        </div>

    </div>

</div>
